<div class="login-component">
  <h1>Sign In</h1>

  <div *ngIf="errorMsg != null" class="alert alert-danger">
    {{ errorMsg }}
  </div>

  <mat-form-field>
    <input matInput id="emailInputSignin" type="email" placeholder="Email" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput id="passwordInputSignin" type="password" placeholder="Password" pattern=".*" required>      
  </mat-form-field>
  <a [routerLink]="['/forgotPassword']" class="forgot-password">Forgot Password?</a>
  
  <button mat-raised-button color="primary" (click)="onLogin()" class="btn-login">
    <span>Log in</span>
  </button>
  
  <hr>
  <button mat-button class="btn-login" [routerLink]="['/register']">
    <span>Register</span>
  </button>
  <br/>
  <a [routerLink]="['/resendCode']" class="resend-code">Resend Confirmation Code</a>
</div>