.login-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 300px;
}

.forgot-password {
    font-size: 0.7em;
    text-align: end;
    margin-top: 0;
    margin-bottom: 20px;
}

.btn-login {
    margin-left: 35%;
    margin-right: 35%;
    width: 20%;
}

.resend-code {
    font-size: 0.7em;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
