<div>
  <mat-toolbar color="primary">
    <button mat-button class="menu-icon" routerLink="/">
      <mat-icon>home</mat-icon>
      <span class="header">Sumo Chess</span>
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-button class="menu-icon" routerLink="/view" *ngIf="loggedIn">
      <span>Browse Matches</span>
    </button>
    <button mat-button class="menu-icon" routerLink="/create" *ngIf="loggedIn">
      <mat-icon>add</mat-icon>
      <span>Create Match</span>
    </button>
    <!-- not logged in-->
    <button mat-button class="menu-icon" routerLink="/login" *ngIf="!loggedIn">
      <span>Login</span>
      <mat-icon>input</mat-icon>
    </button>
    <!-- logged in -->
    <button mat-button class="menu-icon" [matMenuTriggerFor]="userMenu" *ngIf="loggedIn">
      <span>Hi, {{username}}</span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/account">
        <mat-icon>games</mat-icon>
        <span>My Matches</span>
      </button>
      <button mat-menu-item routerLink="/account">
        <mat-icon>account_circle</mat-icon>
        <span>Account</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="shell-content">
    <router-outlet></router-outlet>
  </div> 
</div>
