.header {
  font-size: 1.25em;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.menu-icon {
  margin: 0 8px;
}

.shell-content {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
